:root {
  --mainBrown: #2d1ef1;
  --mainYelow: #ff9e09;
  --mainGray: #ece8dc;
  --mainWhite: #fff;
  --mainDark: black;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier-New';
  letter-spacing: 0.25rem;
}

.text-yellow {
  color: var(--mainYelow);
}

.cart-icon {
  cursoer: pointer;
  color: var(--mainYelow);
  font-size: 2rem;
}